@font-face {
    font-family: "SourceSansPro";
    src: url(fonts/SourceSansPro.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SourceSansPro";
    src: url(fonts/SourceSansProItalic.ttf) format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "SourceSansPro";
    src: url(fonts/SourceSansProBold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "SourceSansPro";
    src: url(fonts/SourceSansProLight.ttf) format("truetype");
    font-weight: lighter;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "SourceSansPro";
    overflow-x: hidden;
}

header {
    background: none;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0vw 2vw 0vw 2vw;
    font-size: 20px;
}

header section:first-of-type {
    display: flex;
    align-items: center;
}

header section:first-of-type a {
    color: #FFF;
}

header img {
    max-height: 4vh;
}

header a {
    text-decoration: underline;
}

header section a:nth-of-type(2) {
    margin-left: 1vh;
}

/* Make text of currently selected header element bold */

header .sel {
    font-weight: bold;
}

header nav a {
    margin-left: 2.5vw;
    color: #FFF;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

main {
    margin-top: -10vh;
}

.landing {
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}

.landing h1 {
    font-size: 6vw;
    padding: 0 20vw 0 20vw;
}

.landing h2 {
    font-size: 3vw;
    font-weight: normal;
}

.landing button {
    color: #FFF;
    background: #00000044;
    text-align: center;
    font-weight: bold;
    border-color: #FFF;
    border-width: 4px;
    border-style: solid;
    cursor: pointer;
    font-size: 24px;
    margin-top: 5vh;
    padding: 0.75vw 4vw 0.75vw 4vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    transition-property: padding;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
  
}

.landing button:hover {
    padding: 0.75vw 4.5vw 0.75vw 4.5vw;
}

.landing a:hover {
    color: #FFF;
}

.landing a:visited {
    color: #FFF;
}

.info-header {
    min-height: 33.3vh;
}

.info-block {
    padding: 2vw;
    min-height: 66.7vh;
}

.info-block img {
    max-height: 20vh;
    border: 1px #858585 solid;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

article a {
    text-decoration: underline;
}

article a:hover {
    color: #000;
}

article a:visited {
    color: #000;
}

article p {
    font-size: 20px;
}

article a {
    color: #2C3F4D;
}

figure {
    margin-inline-start: 0px;
}

figcaption {
    color: #858585;
    margin-top: 1vh;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 2vw 3vw 2vw;
    background-color: #2C3F4D;
    color: #FFF;
    font-size: 20px;
}

footer a {
    color: #FFF;
    text-decoration: underline;
}

@media only screen and (max-width: 860px) {
    header {
        font-size: 2.5vw;
    }
    .landing h1 {
        font-size: 8vw;
    }    
    .landing h2 {
        font-size: 6vw;
        max-width: 80%;
    }
}