/* Import fonts using font face */

@font-face {
    font-family: "SourceSansPro";
    src: url(fonts/SourceSansPro.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SourceSansPro";
    src: url(fonts/SourceSansProItalic.ttf) format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "SourceSansPro";
    src: url(fonts/SourceSansProBold.ttf) format("truetype");
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "SourceSansPro";
    overflow-x: hidden;
}

header {
    background: none;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0vw 2vw 0vw 2vw;
    font-size: 1.25em;
}

header section:first-of-type {
    display: flex;
    align-items: center;
}

header section:first-of-type a {
    color: #FFF;
}

header img {
    max-height: 4vh;
}

header a {
    text-decoration: underline;
}

header section a:nth-of-type(2) {
    margin-left: 1vh;
}

/* Make text of currently selected header element bold */

header .sel {
    font-weight: bold;
}

header nav a {
    margin-left: 2.5vw;
    color: #FFF;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

main {
    margin-top: -10vh;
    background: #aab0b5;
}

.landing {
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}

.landing h1 {
    font-size: 6vw;
    padding: 0 20vw 0 20vw;
}

.landing h2 {
    font-size: 3vw;
    font-weight: normal;
}

.landing button {
    color: #FFF;
    background: #00000044;
    text-align: center;
    font-weight: bold;
    border-color: #FFF;
    border-width: 4px;
    border-style: solid;
    cursor: pointer;
    font-size: 1.5em;
    margin-top: 5vh;
    padding: 0.75vw 4vw 0.75vw 4vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    transition-property: padding;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
  
}

.landing button:hover {
    padding: 0.75vw 4.5vw 0.75vw 4.5vw;
}

.landing a:hover {
    color: #FFF;
}

.landing a:visited {
    color: #FFF;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    color: #2C3F4D;
}

h4 {
    color: #2C3F4D;
}

.info-header {
    min-height: 33.3vh;
}

main > section:nth-of-type(2) {
    min-height: 66.7vh;
    padding: 24px;
    background: #FFF;
    width: 80vw;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

section#down {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

section#down article {
    padding: 10px;
    border: 1px dotted #858585;
}

section#down article:hover {
    border: 1px dotted #2C3F4D;
}

section#down h2 {
    padding-bottom: 10px;
    border-bottom: 1px dotted #858585;
}

figure img {
    max-height: 20vh;
    transition: 0.33s ease-in-out;
}

figure img:hover {
    max-height: 22vh;
}

/* Only images outside of figure element take up full section width */

main img:not(figure img, li img) {
    width: 100%;
}

article a {
    text-decoration: underline;
    color: #2C3F4D;
}

article a:hover {
    color: #000;
}

article p, blockquote {
    font-size: 1.25em;
    padding-top: 10px;
}

article ul {
    list-style: disc;
    padding: 10px 0 0 24px;
}

blockquote {
    padding-left: 2vw;
    border-left: lightgrey 2px solid;
}

figure, blockquote {
    margin-inline-start: 0px;
}

blockquote em {
    font-weight: 100;
}

figcaption, ul p {
    font-size: 1em;
    color: #858585;
    margin-top: 1vh;
}

li img {
    max-height: 11vh;
    transition: 0.33s ease-in-out;
}

li img:hover {
    max-height: 15vh;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 2vw 3vw 2vw;
    background-color: #2C3F4D;
    color: #FFF;
    font-size: 1.25em;
}

footer a {
    color: #FFF;
    text-decoration: underline;
}

/* Make GitHub spin :D */

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

footer img:hover {
    animation: spin 3s linear infinite;
    animation-delay: 3s;
}

/* Media query for mobile/tablet responsivity */

@media only screen and (max-width: 860px) {
    header {
        font-size: 2.5vw;
    }
    .landing h1 {
        font-size: 8vw;
    }    
    .landing h2 {
        font-size: 6vw;
        max-width: 80%;
    }
    section#down {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}